<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to Restaurant Application</h1>
        <p>This application is used for managing restaurants. This application supports basic CRUD operation using HttpClientModule. Currently it is making use of Json server. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>JSON-SERVER</h2>
          <p>Using json Server for crud operations. db.json file is used for storing, modifying the restaurants details.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Angular 10</h2>
          <p>This application is built on Angular 10. Currently this is a very simple application developed for learning purpose. There are lot of scope to improve and implement new features as the learning continues.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Bootstrap 4.5</h2>
          <p>This application make use of bootstrap for rich user interface. Currently this is a very simple application developed for learning purpose. There are lot of scope to improve and implement new features as the learning continues.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
  
  </main>